<%- include('../partials/header') %>

  <div class="container">
  <h1><%= question.title %></h1>
  <p><strong>Description: </strong><%= question.description %></p>
  <p><strong>Created At: </strong><%= question.createdAt %></p>

  <a class="btn btn-primary" href="/questions">Back</a>
  </div>

<%- include('../partials/footer') %>
